//------------------------------------------------------------------------------
// function
//------------------------------------------------------------------------------
@use "sass:math";

// 전체적으로 @mixin과 비슷한 특징을 가짐. @mixin은 주어진 인자들을 기반으로 코드 조각을
// 삽입하는 기능이라면, @function은 주어진 인자들로 특정 값을 계산해 반환함.
@function middle-size($size1, $size2: $size1) {
    // 함수 본문에는 universal statements만 넣을 수 있음 (즉, CSS 규칙은 넣지 못함)
    // https://sass-lang.com/documentation/syntax/structure/#universal-statements
    $length: $size2 - $size1 + 1;
    // 함수는 반드시 @return으로 끝나야 함
    @return $size1 + math.div($length, 2);
}

.function {
    $size1: 10px;
    $size2: 20px;
    $size3: middle-size($size1, $size2);

    li:nth-of-type(1) {
        font-size: $size1;
    }
    li:nth-of-type(2) {
        font-size: $size2;
    }
    li:nth-of-type(3) {
        font-size: $size3;
    }
}
